.slider img {
    margin-top: 100px;
    height: 500px;
    width: 100%;
}

.jumbot {

    height: 200px;
    background-color: :#9fa8da;
}

.card1 {
    margin-top: 10px;
}

.book a {
    color: black;
}


.footer {
    background-color: #9fa8da;
    color: white;
}

.about {}

.privacy {

    margin-right: 10px;
}

.contact {

    margin-right: 10px;
}


.icons a img {
    margin-top: 30px;
    width:50px; 
    height:50px;
}


.righttext p {
    text-align: center;
}

.summary{
	height:100px;
}

@media (max-width:425px){
    .carosel-inner img{
        height:60%;
    }
}