
.slider img {
    margin-top: 100px;
    height: 500px;
    width: 100%;
}

.jumbot{

	height:200px;
	background-color: :#9fa8da;
}

.card1 {
    margin-top: 10px;
}

.book a{
	color:black;
}


.footer {
    background-color: #9fa8da;
    color: white;
}

.about{
	float: right;
}

.privacy{
	float: right;
	margin-right: 10px;
}

.contact{
	float: right;
	margin-right: 10px;
}
